---
import ProjectsCard from '../components/ProjectsCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Federico Sánchez - Front-End Developer">
    <main class="grid grid-cols-2 gap-11 w-[1600px] mx-auto mb-40">
        <ProjectsCard />
    </main>
</Layout>
