---
import ProjectsCard from '../components/ProjectsCard.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Federico Sánchez - Front-End Developer">
    <main
        class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-11 max-w-[1600px] mx-auto mb-20 md:mb-40 py-6 px-4 sm:px-6 lg:px-12 2xl:px-2"
    >
        <ProjectsCard />
    </main>
    <Footer />
</Layout>
