---
import Layout from '../layouts/Layout.astro';
import HeroServices from '../components/HeroServices.astro';
import ServicesCard from '../components/ServicesCard.astro';
import MarqueeTitle from '../components/MarqueeTitle.astro';
import Reviews from '../components/Reviews.astro';
import Footer from '../components/Footer.astro';
---

<head>
    <meta name="robots" content="noindex, nofollow" />
</head>
<Layout title="Federico Sánchez - Front-End Developer">
    <HeroServices />
    <section
        class="grid grid-cols-1 md:grid-cols-2 gap-11 max-w-[1600px] py-6 px-4 sm:px-6 lg:px-12 2xl:px-2 mx-auto mb-16"
    >
        <ServicesCard
            title="Diseño UX/UI"
            description="Tu web no es solo una tarjeta de presentación, es el lugar donde tus clientes deciden si se quedan o se van. Un diseño atractivo sin estrategia es solo decoración. Creo experiencias digitales que convierten, combinando diseño intuitivo, usabilidad y un enfoque centrado en el usuario para que tu web no solo sea bonita, sino efectiva."
            icon="icon-diseno-web.svg"
        />
        <ServicesCard
            title="Desarrollo Web"
            description="Tu web no es solo una página, es el motor de tu negocio en internet. Si no carga rápido, no se adapta a todos los dispositivos o no está optimizada, estás perdiendo clientes. Desarrollo sitios web funcionales, seguros y pensados para convertir, ya sea una web corporativa, una tienda online o una plataforma a medida."
            icon="icono-desarrollo-web.svg"
        />
    </section>
    <div class="md:col-span-2">
        <MarqueeTitle />
    </div>
    <section
        class="grid grid-cols-1 md:grid-cols-2 gap-11 max-w-[1600px] py-6 px-4 sm:px-6 lg:px-12 2xl:px-2 mx-auto mb-40"
    >
        <ServicesCard
            title="Marketing Digital"
            description="Si piensas que conseguir clientes recurrentes es solo para grandes marcas, es porque aún no has probado una estrategia bien hecha. Atraer, conectar y vender no es cuestión de suerte, sino de método. Te ayudo a posicionar tu negocio con campañas efectivas, contenido de valor y estrategias que realmente generan impacto."
            icon="icono-marketing-digital.svg"
        />
        <ServicesCard
            title="SEO"
            description="Si nadie te encuentra, nadie te compra. Una web sin tráfico es como un negocio sin clientes. Con el SEO adecuado, tu sitio aparecerá donde debe estar: en los primeros resultados de búsqueda. Optimizo tu web para que atraiga visitas de calidad, aumente tu visibilidad y convierta a desconocidos en clientes."
            icon="icon-seo.svg"
        />
    </section>
    <Reviews />
    <Footer />
</Layout>
