---
import Layout from '../layouts/Layout.astro';
import HeroServices from '../components/HeroServices.astro';
import ServicesCard from '../components/ServicesCard.astro';
import MarqueeTitle from '../components/MarqueeTitle.astro';
import Reviews from '../components/Reviews.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Federico Sánchez - Front-End Developer">
    <HeroServices />
    <section
        class="grid grid-cols-1 md:grid-cols-2 gap-11 max-w-[1600px] py-6 px-4 sm:px-6 lg:px-12 2xl:px-2 mx-auto mb-16"
    >
        <ServicesCard
            title="Diseño UX/UI"
            description="Explora los servicios digitales con los que te puedo ayudar a impulsar tu negocio. Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras. Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras.Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras.Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras."
            icon="icon-diseno-web.svg"
        />
        <ServicesCard
            title="Desarrollo Web"
            description="Explora los servicios digitales con los que te puedo ayudar a impulsar tu negocio."
            icon="icono-desarrollo-web.svg"
        />
    </section>
    <div class="md:col-span-2">
        <MarqueeTitle />
    </div>
    <section
        class="grid grid-cols-1 md:grid-cols-2 gap-11 max-w-[1600px] py-6 px-4 sm:px-6 lg:px-12 2xl:px-2 mx-auto mb-40"
    >
        <ServicesCard
            title="Marketing Digital"
            description="Explora los servicios digitales con los que te puedo ayudar a impulsar tu negocio. Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras. Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras.Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras.Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras."
            icon="icono-marketing-digital.svg"
        />
        <ServicesCard
            title="SEO"
            description="Explora los servicios digitales con los que te puedo ayudar a impulsar tu negocio. Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras. Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras.Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras.Desde diseño web cautivador hasta desarrollo de aplicaciones web innovadoras."
            icon="icon-seo.svg"
        />
    </section>
    <Reviews />
    <Footer />
</Layout>
