<section
    class="bg-lightpurple-pattern flex flex-col items-center justify-center text-center pt-16 md:pt-[100px] lg:pt-[160px] pb-20 md:pb-[150px] lg:pb-[200px]"
>
    <div class="w-full max-w-[1140px] px-4">
        <h2
            class="text-3xl md:text-5xl lg:text-7xl xl:text-9xl text-primary-purple uppercase leading-tight"
        >
            Una vez que tenemos claros tus objetivos,
        </h2>
        <p
            class="text-lg md:text-2xl lg:text-4xl xl:text-5xl text-primary-purple uppercase font-bold mt-6"
        >
            Podemos desarrollar una estrategia y un plan para alcanzarlos. Esto
            incluirá la identificación de los pasos necesarios, los recursos y
            los posibles obstáculos a superar.
        </p>
    </div>
</section>
