<section
    class="bg-lightpurple-pattern flex flex-col items-center justify-center text-center pt-[160px] pb-[200px]"
>
    <div class="w-[1140px]">
        <h2 class="text-9xl text-primary-purple uppercase">
            Una vez que tenemos claros tus objetivos,
        </h2>
        <p class="text-5xl text-primary-purple uppercase font-bold">
            Podemos desarrollar una estrategia y un plan para alcanzarlos. Esto
            incluirá la identificación de los pasos necesarios, los recursos y
            los posibles obstáculos a superar.
        </p>
    </div>
</section>
