<section class="p-6 w-[1600px] mx-auto">
    <div class="flex">
        <h2 class="text-6xl text-[#EFA6F5] uppercase">
            Convierto tus ideas en <span class="text-[#6976DF]">realidad</span>
        </h2>
        <p class="text-2xl w-[1000px]">
            Especializado en convertir tus ideas en realidades digitales. Desde
            el diseño web y el desarrollo de aplicaciones web hasta estrategias
            SEO, trabajaremos para materializar tu visión online con excelencia
            y creatividad.
        </p>
    </div>
    <div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</section>
