---

---

<form id="contactForm" class="flex flex-col gap-4 mt-9">
    <input
        id="name"
        name="name"
        required
        class="px-3 pt-3 pb-4 border border-primary-purple rounded-xl bg-dark text-2xl text-primary-purple"
        type="text"
        placeholder="Nombre"
    />
    <input
        id="email"
        name="email"
        required
        class="px-3 pt-3 pb-4 border border-primary-purple rounded-xl bg-dark text-2xl text-primary-purple"
        type="email"
        placeholder="Email"
    />
    <textarea
        id="message"
        name="message"
        required
        class="px-3 pt-3 pb-4 border border-primary-purple rounded-xl bg-dark text-2xl text-primary-purple"
        placeholder="Mensaje"></textarea>
    <button
        id="submitButton"
        class="px-3 pt-3 pb-4 border border-primary-purple rounded-xl bg-primary-pink hover:bg-dark hover:text-primary-purple text-2xl text-primary-purple transition-colors font-bold"
        type="submit"
    >
        Enviar
    </button>
    <p id="statusMessage" class="text-center hidden"></p>
</form>
