<section class="bg-lightgray p-8 rounded-xl flex flex-col md:flex-row gap-5">
    <div class="items-center flex-1">
        <h2 class="text-6xl uppercase text-primary-purple">
            <span class="text-primary-pink">14</span> mejores agencias de marketing
            digital
        </h2>
        <p class="text-2xl mb-5">
            En este proyecto, me encargué del **diseño y desarrollo completo del
            sitio web para el Herbolario de María**, una tienda de productos
            naturales y servicios de bienestar. En este proyecto, me encargué
            del **diseño y desarrollo completo del sitio web para el Herbolario
            de María**, una tienda de productos naturales y servicios de
            bienestar.
        </p>
        <div
            class="flex items-center gap-4 w-fit bg-primary-pink rounded-full p-2 pl-5 text-white"
        >
            <p class="text-xl font-bold">Leer más</p>
            <button
                class="w-fit rounded-full z-10 border border-primary-purple p-4 md:p-3 hover:bg-primary-pink text-primary-pink md:mt-0"
            >
                <a href="/blog/mejores-agencias-marketingdigital">
                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 45 45"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="hover:rotate-45 text-primary-pink ease-linear duration-300"
                    >
                        <path
                            d="M44 1L0.999996 44"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M44 39.7L44 1L5.3 0.999998"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
            </button>
        </div>
    </div>
    <img src="/provisional-blog.svg" alt="" />
</section>
