<header class="w-full p-10 flex gap-10 justify-between items-center">
    <a href="/">
        <img
            class="h-[60px] md:h-[100px]"
            src="/diseno-web-federico-sanchez.svg"
            alt="Logotipo Federico Sanchez - Desarrollo Web"
        />
    </a>

    <!-- Menú Desktop -->
    <nav class="hidden md:flex w-full justify-center">
        <ul
            class="flex w-full border border-gray-500 rounded-3xl p-5 gap-[100px] justify-center text-2xl font-semibold"
        >
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                <a href="/servicios">Servicios</a>
            </li>
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                <a href="/sobre-mi">Sobre mi</a>
            </li>
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                <a href="/proyectos">Proyectos</a>
            </li>
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                Blog
            </li>
        </ul>
    </nav>

    <!-- Botón de contacto Desktop -->
    <a
        class="hidden md:block bg-[#6976DF] text-white px-4 py-5 rounded-3xl hover:bg-[#EFA6F5] hover:text-[#6976DF] text-xl font-semibold"
        href="/contacto">Hablemos</a
    >
</header>
