<header class="w-full p-10 flex gap-10 justify-between items-center">
    <img
        class="h-[60px] md:h-[100px]"
        src="/public/diseno-web-federico-sanchez.svg"
        alt="Logotipo Federico Sanchez - Desarrollo Web"
    />

    <!-- Menú Desktop -->
    <nav class="hidden md:flex w-full justify-center">
        <ul
            class="flex w-full border border-gray-500 rounded-3xl p-5 gap-[100px] justify-center text-2xl font-semibold"
        >
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                Servicios
            </li>
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                Sobre mi
            </li>
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                Proyectos
            </li>
            <li class="text-[#6976DF] hover:text-[#EFA6F5] cursor-pointer">
                Blog
            </li>
        </ul>
    </nav>

    <!-- Botón de contacto Desktop -->
    <a
        class="hidden md:block bg-[#6976DF] text-white px-4 py-5 rounded-3xl hover:bg-[#EFA6F5] hover:text-[#6976DF] text-xl font-semibold"
        href="#">Hablemos</a
    >
</header>
