<section class="p-6 max-w-[1600px] mx-auto">
    <div class="flex flex-col md:gap-8 lg:flex-row relative">
        <h2
            class="text-6xl sm:text-6xl md:text-8xl lg:text-9xl xl:text-[12rem] text-[#EFA6F5] uppercase"
        >
            Impulsa tu <span class="text-[#6976DF]">proyecto</span>
            <img
                class="absolute top-24 right-[650px]"
                src="/public/investigacion-desarrollo-diseno.svg"
                alt="Servicios"
            />
        </h2>

        <p
            class="text-xl md:text-lg lg:text-3xl w-full lg:w-[1000px] prose-invert"
        >
            Explora los servicios digitales con los que te puedo ayudar a
            impulsar tu negocio. Desde diseño web cautivador hasta desarrollo de
            aplicaciones web innovadoras, SEO estratégico y mucho más, estoy
            aquí para llevar tu visión al siguiente nivel.
        </p>
    </div>
</section>
