<section class="py-6 px-4 sm:px-6 lg:px-12 2xl:px-2 max-w-[1600px] mx-auto">
    <div class="flex flex-col md:gap-8 lg:flex-row relative">
        <h1
            class="text-6xl sm:text-6xl md:text-8xl lg:text-9xl xl:text-[12rem] text-[#EFA6F5] uppercase"
        >
            Impulsa tu <span class="text-[#6976DF]">proyecto</span>
            <img
                class="hidden sm:hidden md:hidden lg:block absolute lg:top-40 lg:right-[550px] xl:top-40 xl:right-[550px] 2xl:top-24 2xl:right-[680px] w-60"
                src="/investigacion-desarrollo-diseno.svg"
                alt="Servicios"
            />
        </h1>

        <p
            class="text-xl md:text-lg lg:text-3xl w-full lg:w-[1000px] prose-invert"
        >
            Tener una idea es solo el primer paso. Para que tu proyecto
            destaque, necesitas una estrategia digital bien pensada, un diseño
            atractivo y un desarrollo sólido que lo haga funcionar. Desde la
            creación de tu web hasta su optimización y crecimiento, me encargo
            de convertir tu visión en una experiencia digital que conecte,
            atraiga y convierta. No se trata solo de estar en internet, sino de
            hacerlo bien y con impacto.
        </p>
    </div>
</section>
