---
import MarqueeText from './MarqueeText.astro';

const scrollItems = ['DESARROLLO WEB', 'DISEÑO', 'SEO'];
---

<section class="px-4 sm:px-6 lg:px-12 max-w-[100vw] lg:h-[600px]">
    <div class="max-w-full mx-auto">
        <h1 class="sr-only">Creando experiencias digitales</h1>

        <div class="space-y-2 sm:space-y-4 md:space-y-6">
            <div
                class="flex items-start md:items-start gap-4 sm:gap-8 md:gap-12 md:mt-10"
            >
                <span
                    class="font-title text-6xl sm:text-6xl md:text-8xl lg:text-9xl xl:text-[14rem] leading-6 lg:leading-[0.8] text-primary-pink uppercase"
                >
                    Creando
                </span>
                <img
                    class="h-10 sm:h-16 md:h-20 lg:h-24 xl:h-32 mt-[-14px] md:mt-0 mb-[16px] md:mb-0"
                    src="/hero-smile.svg"
                    alt="Icono investigación, desarrollo, diseño"
                    id="hover-effect"
                />
            </div>
            <div
                id="floating-scroll"
                class="hidden fixed pointer-events-none z-50"
            >
                <div
                    class="relative w-48 h-48 bg-white rounded-full flex items-center justify-center shadow-lg overflow-hidden border border-dark p-2"
                >
                    <div
                        class="absolute w-full h-full animate-spin-slow flex items-center justify-center p-5"
                    >
                        <img
                            src="/efecto-hover-hero.svg"
                            alt="Scroll"
                            class="rotating-image absolute w-full h-full object-contain"
                        />
                    </div>
                    <img
                        class="h-24 w-24 ml-5"
                        src="/mano-keep-scrolling.svg"
                        alt="Efecto hover hero section"
                    />
                </div>
            </div>
            <div class="flex items-center gap-4 sm:gap-8 md:gap-12">
                <img
                    class="h-10 sm:h-16 md:h-20 lg:h-24 xl:h-40"
                    src="/good-vibes.svg"
                    alt="Icono investigación, desarrollo, diseño"
                    id="hover-effect"
                />
                <span
                    class="font-title text-6xl sm:text-6xl md:text-8xl lg:text-9xl xl:text-[14rem] leading-6 lg:leading-[0.8] text-primary-purple uppercase"
                >
                    experiencias
                </span>
            </div>

            <div
                class="flex flex-col md:flex-row items-start md:items-center gap-4 sm:gap-8 md:gap-12"
            >
                <span
                    class="font-title text-6xl sm:text-6xl md:text-8xl lg:text-9xl xl:text-[14rem] leading-12 lg:leading-[0.8] text-primary-pink uppercase"
                >
                    digitales
                </span>
                <p
                    class="font-paragraph text-xl sm:text-lg md:text-xl lg:text-2xl xl:text-3xl max-w-[650px] mt-4md:mt-0"
                >
                    Experiencias digitales que enganchan, posicionan y venden.
                    Porque tu proyecto merece más que una web bonita. Creo
                    productos digitales que enamoran, funcionan y hacen que tu
                    proyecto despegue.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="relative w-full mt-8 sm:mt-12 md:mt-16 md:h-[300px]">
    <section class="transform -rotate-6 w-full">
        <MarqueeText items={scrollItems} />
    </section>

    <section class="transform rotate-6 w-full -mt-12 sm:-mt-16 md:-mt-20">
        <MarqueeText items={scrollItems} direction="reverse" />
    </section>
</div>

<script>
    function initScrollEffect() {
        const floatingScroll = document.getElementById('floating-scroll');
        const hoverImages = document.querySelectorAll('img#hover-effect');

        let isHovering = false;
        let scrollTimeout;

        const isDesktop = window.matchMedia('(min-width: 1024px)').matches;

        function updateFloatingScrollPosition(e) {
            if (isHovering && isDesktop) {
                floatingScroll.style.left = `${e.clientX}px`;
                floatingScroll.style.top = `${e.clientY}px`;
            }
        }

        function showFloatingScroll() {
            if (isDesktop) {
                isHovering = true;
                floatingScroll.classList.remove('hidden');
            }
        }

        function hideFloatingScroll() {
            if (isDesktop) {
                isHovering = false;
                floatingScroll.classList.add('hidden');
            }
        }

        if (isDesktop) {
            hoverImages.forEach(img => {
                img.addEventListener('mouseenter', showFloatingScroll);
                img.addEventListener('mouseleave', hideFloatingScroll);
            });

            document.addEventListener(
                'mousemove',
                updateFloatingScrollPosition,
            );

            document.addEventListener('scroll', () => {
                if (isHovering) {
                    showFloatingScroll();
                    clearTimeout(scrollTimeout);
                    scrollTimeout = setTimeout(hideFloatingScroll, 1000);
                }
            });
        }
    }

    document.addEventListener('DOMContentLoaded', initScrollEffect);
    document.addEventListener('astro:page-load', initScrollEffect);
</script>
