<section class="p-6 w-[1600px] mx-auto h-[500px] md:relative">
    <h1 class="text-8xl md:text-[8rem] leading-6xl text-primary-pink uppercase">
        Creando <span class="text-primary-purple">experiencias</span>
        digitales
    </h1>

    <p
        class="text-xl md:text-2xl w-[500px] md:absolute md:right-[420px] md:top-[150px] mb-5"
    >
        Comprometido en diseñar y desarrollar productos digitales de alta
        calidad, utilizando las últimas tecnologías y prácticas innovadoras para
        impulsar tu proyecto.
    </p>
    <img
        class="md:absolute md:right-[820px] md:top-[240px] z-10"
        src="/public/investigacion-desarrollo-diseno.svg"
        alt="Icono investigación, desarrollo, diseño"
    />
</section>
<div class="h-[400px]">
    <section
        class="w-[1200px] md:w-[2500px] rotate-[4deg] mt-12 ml-[-160px] overflow-x-hidden"
    >
        <div class="bg-[#242229] py-5 md:py-8 pb-8 md:pb-10 px-9">
            <p
                class="text-3xl md:text-5xl font-black text-white carrusel-texto"
            >
                <span class="mr-6">DESARROLLO WEB</span>
                <span class="mr-6">DISEÑO</span>
                <span class="mr-6">SEO</span>
                <span class="mr-6">DESARROLLO WEB</span>
                <span class="mr-6">DISEÑO</span>
                <span class="mr-6">SEO</span>
            </p>
        </div>
    </section>
    <section
        class="w-[1200px] md:w-[2500px] rotate-[-10deg] mt-[-200px] ml-[-50px] overflow-x-hidden"
    >
        <div class="bg-[#242229] py-5 md:py-8 pb-8 md:pb-10 px-9">
            <p
                class="text-3xl md:text-5xl font-black text-white carrusel-texto"
            >
                <span class="mr-6">SEO</span>
                <span class="mr-6">DISEÑO</span>
                <span class="mr-6">DESARROLLO WEB</span>
                <span class="mr-6">SEO</span>
                <span class="mr-6">DISEÑO</span>
                <span class="mr-6">DESARROLLO WEB</span>
            </p>
        </div>
    </section>
</div>
