---
import ProjectsCard from './ProjectsCard.astro';
---

<section class="pt-[160px] mb-11 w-[1600px] mx-auto">
    <div class="flex gap-11">
        <h2 class="text-7xl text-primary-pink uppercase">
            Descubre mis <span class="text-primary-purple">proyectos</span> destacados
        </h2>
        <p class="text-2xl prose-invert">
            Explora mis proyectos, que abarcan diseño, desarrollo web. Desde
            impresionantes diseños gráficos hasta experiencias en web
            interactivas y aplicaciones innovadoras, cada proyecto muestra mi
            compromiso con la excelencia y la creatividad en el mundo digital.
        </p>
    </div>
</section>
<section class="grid grid-cols-2 gap-11 w-[1600px] mx-auto mb-40">
    <ProjectsCard limit={2} />
    <div class="col-span-2 flex justify-center w-full">
        <a
            href="/proyectos"
            class="w-80 text-center p-5 text-4xl font-medium text-primary-purple border border-white rounded-full hover:bg-primary-pink hover: hover:border-primary-purple"
            >MÁS PROYECTOS</a
        >
    </div>
</section>
