---
import ReviewsCard from './ReviewsCard.astro';
---

<section
    class="bg-lightpurple-pattern mb-11 py-16 md:py-36 px-6 md:px-20 w-full mx-auto"
>
    <div class="flex flex-col gap-8 lg:flex-row">
        <h2
            class="text-4xl md:text-6xl lg:text-8xl text-primary-purple uppercase"
        >
            Conoce que dicen <span class="text-white">sobre mi</span>
        </h2>
        <p
            class="text-base md:text-lg lg:text-2xl w-full lg:w-[1000px] prose-invert"
        >
            Descubre lo que dicen los clientes sobre trabajar conmigo. Sus
            testimonios son la mejor prueba del compromiso que tengo con la
            excelencia y la satisfacción del cliente en cada proyecto.
        </p>
    </div>
    <ReviewsCard />
</section>
