---
import ReviewsCard from './ReviewsCard.astro';
---

<section class="bg-lightpurple-pattern pt-[160px] mb-11 w-full mx-auto">
    <div class="w-[1600px] flex gap-11 mx-auto">
        <h2 class="text-7xl text-primary-purple uppercase">
            Que dicen sobre <span class="text-white">mi</span>
        </h2>
        <p class="text-2xl prose-invert">
            Descubre lo que dicen los clientes sobre trabajar conmigo. Sus
            testimonios son la mejor prueba del compromiso que tengo con la
            excelencia y la satisfacción del cliente en cada proyecto.
        </p>
    </div>
</section>
<section class="grid grid-cols-2 gap-11 w-[1600px] mx-auto">
    <ReviewsCard />
</section>
