<section class="p-6 w-[1600px] mx-auto">
    <div class="flex gap-8">
        <h2 class="text-7xl text-[#EFA6F5] uppercase">
            Convierto tus ideas en <span class="text-[#6976DF]">realidad</span>
        </h2>
        <p class="text-2xl w-[1000px] prose-invert">
            Especializado en convertir tus ideas en realidades digitales. Desde
            el diseño web y el desarrollo de aplicaciones web hasta estrategias
            SEO, trabajaremos para materializar tu visión online con excelencia
            y creatividad.
        </p>
    </div>
    <article class="grid grid-cols-3">
        <div class="relative">
            <img
                src="/public/investigacion-desarrollo-diseno.svg"
                alt="Diseño web Murcia"
            />
            <img
                class="w-[200px] absolute left-44 top-24"
                src="/public/triangulo.svg"
                alt="Diseño web Murcia"
            />
            <img
                class="w-[400px]"
                src="/public/sticker-doitanyway.webp"
                alt="Diseño web Murcia"
            />
        </div>
        <div class="flex flex-col gap-10">
            <button
                class="bg-gradient-to-r from-dark-purple to-primary-purple hover:from-primary-pink hover:to-primary-pink hover:text-primary-purple text-white p-5 text-4xl font-semi rounded-full uppercase"
                >Aplicaciones Web</button
            >
            <button
                class="bg-gradient-to-r from-dark-purple to-primary-purple hover:from-primary-pink hover:to-primary-pink hover:text-primary-purple text-white p-5 text-4xl font-semi rounded-full uppercase rotate-[11deg]"
                >Seo</button
            >
            <button
                class="bg-gradient-to-r from-dark-purple to-primary-purple hover:from-primary-pink hover:to-primary-pink hover:text-primary-purple text-white p-5 text-4xl font-semi rounded-full uppercase"
                >Desarrollo Web</button
            >
            <button
                class="bg-gradient-to-r from-dark-purple to-primary-purple hover:from-primary-pink hover:to-primary-pink hover:text-primary-purple text-white p-5 text-4xl font-semi rounded-full uppercase rotate-[-11deg]"
                >Diseño UX/UI</button
            >
        </div>
        <div>
            <img
                class="w-[370px] ml-11"
                src="/public/sticker-havefun.webp"
                alt="Diseño web Murcia"
            />
        </div>
    </article>
</section>
