<section class="p-6 w-[1600px] mx-auto">
    <div class="flex gap-8">
        <h2 class="text-7xl text-[#EFA6F5] uppercase">
            Convierto tus ideas en <span class="text-[#6976DF]">realidad</span>
        </h2>

        <p class="text-2xl w-[1000px] prose-invert">
            Especializado en convertir tus ideas en realidades digitales. Desde
            el diseño web y el desarrollo de aplicaciones web hasta estrategias
            SEO, trabajaremos para materializar tu visión online con excelencia
            y creatividad.
        </p>
    </div>
    <article class="flex flex-col gap-7 mt-20 pb-32">
        <div
            class="w-full flex justify-between items-center p-10 bg-purple-bg rounded-full border border-primary-purple"
        >
            <h3 class="text-primary-purple text-6xl pl-5">Desarrollo Web</h3>
            <div
                class="rounded-full before:transition-all before:duration-700 before:rounded-ful z-10 border border-primary-purple p-5 hover:bg-primary-pink text-primary-pink"
            >
                <a href="#">
                    <svg
                        width="55"
                        height="55"
                        viewBox="0 0 45 45"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="hover:rotate-45 text-primary-pink ease-linear duration-300"
                    >
                        <path
                            d="M44 1L0.999996 44"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M44 39.7L44 1L5.3 0.999998"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div
            class="w-full flex justify-between items-center p-10 bg-purple-bg rounded-full border border-primary-purple"
        >
            <h3 class="text-primary-purple text-6xl pl-5">Diseño UX/UI</h3>
            <div
                class="rounded-full before:transition-all before:duration-700 before:rounded-ful z-10 border border-primary-purple p-5 hover:bg-primary-pink text-primary-pink"
            >
                <a href="#">
                    <svg
                        width="55"
                        height="55"
                        viewBox="0 0 45 45"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="hover:rotate-45 text-primary-pink ease-linear duration-300"
                    >
                        <path
                            d="M44 1L0.999996 44"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M44 39.7L44 1L5.3 0.999998"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div
            class="w-full flex justify-between items-center p-10 bg-purple-bg rounded-full border border-primary-purple"
        >
            <h3 class="text-primary-purple text-6xl pl-5">Marketing Digital</h3>
            <div
                class="rounded-full before:transition-all before:duration-700 before:rounded-ful z-10 border border-primary-purple p-5 hover:bg-primary-pink text-primary-pink"
            >
                <a href="#">
                    <svg
                        width="55"
                        height="55"
                        viewBox="0 0 45 45"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="hover:rotate-45 text-primary-pink ease-linear duration-300"
                    >
                        <path
                            d="M44 1L0.999996 44"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M44 39.7L44 1L5.3 0.999998"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div
            class="w-full flex justify-between items-center p-10 bg-purple-bg rounded-full border border-primary-purple"
        >
            <h3 class="text-primary-purple text-6xl pl-5">Seo</h3>
            <div
                class="rounded-full before:transition-all before:duration-700 before:rounded-ful z-10 border border-primary-purple p-5 hover:bg-primary-pink text-primary-pink"
            >
                <a href="#">
                    <svg
                        width="55"
                        height="55"
                        viewBox="0 0 45 45"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="hover:rotate-45 text-primary-pink ease-linear duration-300"
                    >
                        <path
                            d="M44 1L0.999996 44"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M44 39.7L44 1L5.3 0.999998"
                            stroke="#6976DF"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </a>
            </div>
        </div>
    </article>
</section>
