---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Modak&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body><style is:global>
		@font-face {
			font-family: 'Menda';
			src: url('/fonts/menda-extrabold.woff') format('woff');
			font-weight: bold;
			font-style: normal;
		}
		@font-face {
			font-family: 'Monigue';
			src: url('/fonts/monigue.woff') format('woff');
			font-weight: bold;
			font-style: normal;
		}
		@font-face {
			font-family: 'Cssglykeregular';
			src: url('https://nueva-web-three.vercel.app/fonts/cssglykeregular.woff')
				format('woff');
			font-weight: bold;
			font-style: normal;
		}
		h1,
		h2,
		h3,
		h4 {
			font-family: 'Monigue', sans-serif;
		}
		p,
		li,
		a,
		button {
			font-family: 'Darker Grotesque', sans-serif;
			font-optical-sizing: auto;
			font-weight: <weight>;
			font-style: normal;
			color: #6976df;
		}
		html {
			font-family: system-ui, sans-serif;
			background: #131217;
			overflow-x: hidden;
		}
		body {
			overflow-x: hidden;
		}
		/* body {
			max-width: 1600px;
			margin: 0 auto;
		} */
		/* CARRUSEL TEXT*/
		@keyframes scroll {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(-50%);
			}
		}

		@keyframes scroll-reverse {
			0% {
				transform: translateX(0);
			}
			100% {
				transform: translateX(-50%);
			}
		}

		.animate-scroll {
			animation: scroll 20s linear infinite;
		}

		.animate-scroll-reverse {
			animation: scroll-reverse 20s linear infinite;
		}

		.whitespace-nowrap {
			white-space: nowrap;
		}

		/* Estilo para las flechas */
		.swiper-button-next,
		.swiper-button-prev {
			color: #6976df !important;
			font-size: 2rem;
			z-index: 10;
		}

		.swiper-button-next:hover,
		.swiper-button-prev:hover {
			color: #efa6f5 !important;
		}

		.swiper-pagination-bullet {
			background-color: #6976df !important;
		}
		.swiper-pagination-bullet:hover {
			background-color: #efa6f5 !important;
		}
	</style>
</html>
